/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 50px;
  margin: 20px 20px 20px 20px;
  background-image: url("logo.png");
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

div {
  text-align: justify;
  text-justify: inter-word;
}